.heart {
    background: url('../../public/heart.png') no-repeat;
    display:block;
    height: 3rem;
    width: 3rem;
    margin: auto;
    background-size: 2900%;
}

.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

.heart-wrapper {
    position: absolute;
    top: 2rem; 
    right:2rem;
    border-radius:3rem;
    background-color: #F6F6F6;
}

.heart-wrapper:hover {
    background-color: #fce4ec;
}

@keyframes animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}