.manu-bar-main-wrapper {
    flex: 0 1 200px;
    box-sizing: content-box;
    position: sticky; 
    top: 0;
    left: 0;
    height: 100vh;
}

.menu-nav:first-child {
    padding-top: 1rem;
}

.menu-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding: 1rem 0;

}

.menu-item-wrapper:hover {
    background-color: #424242CC;
}

.menu-text-active {
    background-color: #424242CC;
    font-weight: 800;
}
  
.menu-icon {
    margin: auto 0.4rem;
}

.menu-link {
    text-decoration: none; 
    box-shadow: none;
}

 /* Large devices (desktops, 992px and less) */
@media (max-width: 899px) { 
    .manu-bar-main-wrapper {
        flex: 0 1 60px;

    }
    .menu-text {
        width: 0;
        visibility: collapse;
    }
}


/* Small devices (landscape phones, 576px and less) */
@media (max-width: 575px) { 
    .manu-bar-main-wrapper {
        display: none;
        width: 0;
    }
}