.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hiddenExplanation {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1rem;
  max-height: 4rem;
  transition-property: max-height;
  transition-duration: 0.5s;
}

.hiddenExplanation-active {
  max-height: 100em;
}

.main-wrapper {
  /* display: flex;
  flex-direction: row; */
  /* height: 100vh;
  width: 100vw; */
  min-height: 100vh;
  background-image: url("../public/earth.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* padding: "1rem"; */
  /* justify-content: space-evenly; */
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  padding: "1rem"; 
  justify-content: center;
  margin-left: 15vw;
  min-height: 100vh;
}

.apod-post-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30vw;;
}

.apod-left-main-wrapper {
  /* flex: 1; */
}

.apod-right-main-wrapper {
  /* flex: 1; */
  /* width: 30vw; */
  height: 0;
  position: fixed;
  top: 0;
  right: 0;
}


/* MenuBar.tsx */

.manu-bar-main-wrapper {
  height: 100%;
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #23272A;
  padding-top: 3rem;
}

.menu-text {
  color: white;
  padding: 0.5rem 0;
}

.menu-icon {
  margin-right: 1rem;
}

/* .menu-text::before {
  padding: 1rem;
} */