.page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  background-color: #23272ABB;
}

.main-wrapper {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  /* flex: 0 0 700px; */
  padding: "1rem"; 
  justify-content: center;
  flex: 0 0 700px;
}


/* for side note */
.apod-right-main-wrapper {
  height: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: auto;
}


.saved-apod-post-wrapper {
  flex: 0 0 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) { 

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) { 
  .apod-right-main-wrapper {
    visibility: collapse;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) { 
  .home-wrapper {
    flex: 0 0 500px;
  }

  .saved-apod-post-wrapper {
    flex: 0 0 500px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
  .home-wrapper {
    flex: 0 0 100%;
  }

  .saved-apod-post-wrapper {
    flex: 0 0 100%;
  }
}

