.main-wrapper {
  min-height: 100vh;
  background-image: url("../public/earth.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  padding: "1rem"; 
  justify-content: center;
  margin-left: 15vw;
  min-height: 100vh;
}


/* for side note */
.apod-right-main-wrapper {
  height: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: auto;
}
